body {
    font: 14px "Century Gothic", Futura, sans-serif;
}
ol, ul, div{
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 35px;
    text-align: center;
}
.botoes{
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: black;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.board-row:after{
    clear: both;
    content: "";
    display: table;
}
.status{
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.square {
    background: #fff;
    border : 2px solid #000000;
    float: left;
    font-size: 69px;
    font-weight: bold;
    line-height: 100px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding-left: 0;
    text-align: center;
    width: 100px;
}

.square:focus{
    outline: none;
}
.kbd-navigation .square:focus{
    background: #ddd;
}
.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.game-info{
    margin-left: 20px;
}